@use '../../../../../../styles/styles/modal' as modalToken;
@use '../../../../../../styles/tokens' as token;
@use '../../../../../../styles/vars';

.AuthModulePasswordForm__form {
  padding: 0 token.$offset-48;
  @include vars.media-down(tablet-large) {
    padding: 0 token.$offset-16;
  }
}

.AuthModulePasswordForm__input:not(:last-child) {
  margin-bottom: token.$offset-24;
  @include vars.media-down(tablet-large) {
    margin-bottom: token.$offset-16;
  }
}

.AuthModulePasswordForm__error {
  @include vars.font-14;
  margin-top: token.$offset-8;
  color: token.$danger-active;
  font-weight: 600;
}

.AuthModulePasswordForm__btn {
  @include vars.rowXCenter;
  margin: token.$offset-24 0 0;
  @include vars.media-down(tablet-large) {
    & > * {
      min-width: 184px;
    }
  }
}
