@use '../../../../../../styles/vars';
@use '../../../../../../styles/tokens' as token;

.AuthModulePasswordSuccessDialog__message {
  max-width: 400px;
  margin: 0 auto;
  padding: token.$offset-8;
  text-align: center;
  font-size: token.$font-size-16;
}
